Repository kubernetes-sigs/blob-csi-driver, pull requests merged in 2020-12, with the labels that each got.

#290 chore: upgrade to csi 1.3.0
  go.mod
  go.sum
  pkg/blob/controllerserver.go
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi.pb.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/feature, size/XXL

#288 feat: Add volume resize support
  charts/latest/blob-csi-driver/templates/csi-blob-controller.yaml
  charts/latest/blob-csi-driver/templates/rbac-csi-blob-controller.yaml
  charts/latest/blob-csi-driver/values.yaml
  deploy/csi-blob-controller.yaml
  pkg/blob/blob.go
  pkg/blob/controllerserver.go
  pkg/blob/controllerserver_test.go
  pkg/util/util.go
  test/e2e/driver/driver.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_resize_volume_tester.go
  test/integration/run-test.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, size/L

#293 feat: Implement node get stats
  pkg/blob/blob.go
  pkg/blob/nodeserver.go
  pkg/blob/nodeserver_test.go
  test/integration/run-test.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, size/L

#295 fix: only deploy test pods on Linux nodes
  Makefile
  test/e2e/testsuites/testsuites.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, size/XS

#297 test: refine sanity test script
  go.mod
  test/sanity/run-test.sh
  test/sanity/run-tests-all-clouds.sh
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/test, size/M

#298 test: upgrade sanity-test to v4.0.2
  test/sanity/run-test.sh
  test/sanity/run-tests-all-clouds.sh
Labels: approved, cncf-cla: yes, kind/test, size/XS

#299 fix: use timestamp for tmp-path to v0.7
  pkg/blob/nodeserver.go
Labels: approved, cncf-cla: yes, kind/bug, size/XS

#301 doc: cut v0.7.1 release
  Makefile
  README.md
  charts/README.md
  charts/index.yaml
  charts/v0.7.1/blob-csi-driver-v0.7.1.tgz
  charts/v0.7.1/blob-csi-driver/Chart.yaml
  charts/v0.7.1/blob-csi-driver/templates/NOTES.txt
  charts/v0.7.1/blob-csi-driver/templates/_helpers.tpl
  charts/v0.7.1/blob-csi-driver/templates/csi-blob-controller.yaml
  charts/v0.7.1/blob-csi-driver/templates/csi-blob-driver.yaml
  charts/v0.7.1/blob-csi-driver/templates/csi-blob-node.yaml
  charts/v0.7.1/blob-csi-driver/templates/rbac-csi-blob-controller.yaml
  charts/v0.7.1/blob-csi-driver/templates/rbac-csi-blob-node.yaml
  charts/v0.7.1/blob-csi-driver/templates/serviceaccount-csi-blob-controller.yaml
  charts/v0.7.1/blob-csi-driver/templates/serviceaccount-csi-blob-node.yaml
  charts/v0.7.1/blob-csi-driver/values.yaml
  deploy/v0.7.1/csi-blob-controller.yaml
  deploy/v0.7.1/csi-blob-driver.yaml
  deploy/v0.7.1/csi-blob-node.yaml
  deploy/v0.7.1/rbac-csi-blob-controller.yaml
  deploy/v0.7.1/rbac-csi-blob-node.yaml
  docs/install-blob-csi-driver.md
  docs/install-csi-driver-v0.7.1.md
Labels: approved, cncf-cla: yes, kind/documentation, size/XXL

#302 feat: support arbitrary volume id
  pkg/blob/blob.go
  pkg/blob/blob_test.go
Labels: approved, cncf-cla: yes, kind/feature, size/M

#303 fix: should skip and return success if mount point is already mounted
  pkg/blob/nodeserver.go
  pkg/blob/nodeserver_test.go
Labels: approved, cncf-cla: yes, kind/bug, size/M

#304 doc: add cost saving mount options
  deploy/example/storageclass-blobfuse-existing-container.yaml
  deploy/example/storageclass-blobfuse-mountoptions.yaml
  deploy/example/storageclass-blobfuse.yaml
  docs/driver-parameters.md
  pkg/blob/blob.go
  pkg/blob/blob_test.go
Labels: approved, cncf-cla: yes, kind/documentation, size/L
