Repository kubernetes-sigs/blob-csi-driver, pull requests merged in 2020-06, with the labels that each got.

#157 fix: broken config(missing endpoint) in controller deployment
  charts/latest/blobfuse-csi-driver/templates/csi-blobfuse-controller.yaml
  charts/latest/blobfuse-csi-driver/templates/csi-blobfuse-driver.yaml
  deploy/csi-blobfuse-controller.yaml
  deploy/csi-blobfuse-driver.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/S

#159 fix: endpoint issue in v0.5.0
  charts/v0.5.0/blobfuse-csi-driver/templates/csi-blobfuse-controller.yaml
  deploy/v0.5.0/csi-blobfuse-controller.yaml
Labels: approved, cncf-cla: yes, kind/bug, size/XS

#160 feat: add Premium_LRS support
  deploy/example/pv-blobfuse-csi.yaml
  deploy/example/storageclass-blobfuse-csi-mountoptions.yaml
  deploy/example/storageclass-blobfuse-csi.yaml
  docs/driver-parameters.md
  pkg/blobfuse/controllerserver.go
  test/e2e/driver/blobfuse_csi_driver.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_cmd_volume_tester.go
  test/e2e/testsuites/dynamically_provisioned_collocated_pod_tester.go
  test/e2e/testsuites/dynamically_provisioned_delete_pod_tester.go
  test/e2e/testsuites/dynamically_provisioned_read_only_volume_tester.go
  test/e2e/testsuites/dynamically_provisioned_reclaim_policy_tester.go
  test/e2e/testsuites/specs.go
Labels: approved, cncf-cla: yes, kind/test, size/L

#161 test: add pod with multiple volumes mount e2e test
  .github/PULL_REQUEST_TEMPLATE.md
  pkg/blobfuse/controllerserver.go
  test/e2e/dynamic_provisioning_test.go
  test/e2e/testsuites/dynamically_provisioned_pod_with_multiple_pv.go
  test/e2e/testsuites/specs.go
Labels: approved, cncf-cla: yes, kind/test, size/L

#162 fix: remove secret logging in NodeStageVolume
  deploy/example/pv-blobfuse-csi.yaml
  pkg/blobfuse/nodeserver.go
Labels: approved, cncf-cla: yes, kind/bug, size/XS

#165 doc: rename storage class to blob
  deploy/example/deployment.yaml
  deploy/example/e2e_usage.md
  deploy/example/pvc-blobfuse-csi.yaml
  deploy/example/storageclass-blobfuse-csi-existing-container.yaml
  deploy/example/storageclass-blobfuse-csi-mountoptions.yaml
  deploy/example/storageclass-blobfuse-csi.yaml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, size/S

#166 Charts: refine helm installation
  charts/README.md
  charts/index.yaml
  charts/v0.4.0/blobfuse-csi-driver-v0.4.0.tgz
  charts/v0.5.0/blobfuse-csi-driver-v0.5.0.tgz
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#168 Delete common crd-csi-node-info.yaml and fix usage of helm3.
  charts/README.md
  charts/latest/blobfuse-csi-driver/templates/crd-csi-node-info.yaml
  charts/v0.4.0/blobfuse-csi-driver-v0.4.0.tgz
  charts/v0.4.0/blobfuse-csi-driver/templates/crd-csi-node-info.yaml
  charts/v0.5.0/blobfuse-csi-driver-v0.5.0.tgz
  charts/v0.5.0/blobfuse-csi-driver/templates/crd-csi-node-info.yaml
  deploy/crd-csi-node-info.yaml
  deploy/install-driver.sh
  deploy/uninstall-driver.sh
  deploy/v0.4.0/crd-csi-node-info.yaml
  deploy/v0.5.0/crd-csi-node-info.yaml
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/L

#170 test: add mount options test
  test/e2e/dynamic_provisioning_test.go
Labels: approved, cncf-cla: yes, kind/test, size/XS

#172 feat: add storage account private link support
  deploy/example/pv-blobfuse-csi.yaml
  deploy/example/storageclass-blobfuse-csi-existing-container.yaml
  docs/driver-parameters.md
  pkg/blobfuse/blobfuse.go
  pkg/blobfuse/nodeserver.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, size/S
