Repository kubernetes-sigs/blob-csi-driver, pull requests merged in 2020-11, with the labels that each got.

#261 Add AZURE prefix to e2e environment variables
  test/utils/credentials/credentials.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, size/S

#268 fix: replace livenessprobe flag --connection-timeout with --probe-tim…
  charts/latest/blob-csi-driver/templates/csi-blob-controller.yaml
  charts/latest/blob-csi-driver/templates/csi-blob-node.yaml
  charts/latest/blob-csi-driver/values.yaml
  deploy/csi-blob-controller.yaml
  deploy/csi-blob-node.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, size/S

#270 fix: trim new line for azure storage account name
  deploy/example/statefulset-nonroot.yaml
  pkg/blob/blob.go
Labels: approved, cncf-cla: yes, kind/bug, size/M

#272 chore: customization for Azure Stack Cloud
  charts/latest/blob-csi-driver/templates/csi-blob-controller.yaml
  charts/latest/blob-csi-driver/templates/csi-blob-node.yaml
  deploy/csi-blob-controller.yaml
  deploy/csi-blob-node.yaml
  hack/verify-boilerplate.sh
  hack/verify-golint.sh
  hack/verify-gomod.sh
  hack/verify-helm-chart.sh
  pkg/blob/azure.go
  pkg/blob/controllerserver.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, ok-to-test, size/M

#274 fix: only use Standard_LRS storageAccountType on Azure Stack
  README.md
  pkg/blob/controllerserver.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, size/XS

#273 test: change the way credentials are loaded
  Makefile
  hack/verify-boilerplate.sh
  pkg/blobplugin/Dockerfile
  test/e2e/README.md
  test/e2e/pre_provisioning_test.go
  test/e2e/suite_test.go
  test/integration/README.md
  test/integration/integration_test.go
  test/sanity/README.md
  test/sanity/run-test.sh
  test/sanity/sanity_test.go
  test/utils/credentials/credentials.go
  test/utils/credentials/credentials_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#280 doc: fix NFS doc naming issue
  deploy/example/nfs/README.md
  deploy/example/nfs/statefulset.yaml
  deploy/example/storageclass-blob-nfs.yaml
Labels: approved, cncf-cla: yes, kind/documentation, size/M

#279 chore: upgrade node-driver-registrar version to v2.0.1
  charts/README.md
  charts/latest/blob-csi-driver/values.yaml
  deploy/csi-blob-node.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, size/XS

#283 doc: add separate limitation page
  README.md
  docs/limitations.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, ok-to-test, size/S

#281 fix: install blobfuse binary for Azure Stack test pipeline
  test/integration/run-tests-all-clouds.sh
  test/sanity/run-tests-all-clouds.sh
  test/sanity/sanity_test.go
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, ok-to-test, size/M

#282 test: use helm 3 in e2e test
  Makefile
  test/e2e/README.md
Labels: approved, cncf-cla: yes, kind/test, lgtm, ok-to-test, size/S

#286 feat: support run controller on master node
  Makefile
  charts/README.md
  charts/latest/blob-csi-driver/templates/csi-blob-controller.yaml
  charts/latest/blob-csi-driver/values.yaml
  deploy/csi-blob-controller.yaml
Labels: approved, cncf-cla: yes, kind/feature, size/S
