Repository kubernetes-sigs/blob-csi-driver, pull requests merged in 2022-08, with the labels that each got.

#726 Fixed typos in read-from-secret.md file
  docs/read-from-secret.md
Labels: approved, cncf-cla: yes, kind/documentation, size/XS, lgtm, ok-to-test

#731 test: fix TestLogGRPC ut failure
  pkg/csi-common/server_test.go
Labels: kind/test, approved, cncf-cla: yes, size/XS, lgtm, ok-to-test

#730 test: add e2e test for provided credentials
  go.mod
  go.sum
  test/e2e/pre_provisioning_test.go
  test/e2e/testsuites/pre_provisioned_keyvault_tester.go
  test/e2e/testsuites/pre_provisioned_provided_credentials_tester.go
  test/e2e/testsuites/pre_provisioned_sastoken_tester.go
  test/e2e/testsuites/specs.go
  test/manifest/linux-vmss.json
  test/utils/azure/authorization_helper.go
  test/utils/azure/keyvault_helper.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/_meta.json
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/classicadministrators.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/globaladministrator.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/models.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/permissions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/provideroperationsmetadata.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/roleassignments.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/roledefinitions.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/version.go
  vendor/github.com/satori/go.uuid/.travis.yml
  vendor/github.com/satori/go.uuid/LICENSE
  vendor/github.com/satori/go.uuid/README.md
  vendor/github.com/satori/go.uuid/codec.go
  vendor/github.com/satori/go.uuid/generator.go
  vendor/github.com/satori/go.uuid/sql.go
  vendor/github.com/satori/go.uuid/uuid.go
  vendor/modules.txt
Labels: size/XXL, approved, cncf-cla: yes, lgtm, ok-to-test

#732 fix race in unit test and add some simple tests for utils
  pkg/csi-common/utils_test.go
  pkg/util/util_test.go
Labels: kind/test, approved, cncf-cla: yes, lgtm, size/M, ok-to-test

#733 cleanup: remove secrets list rbac
  charts/latest/blob-csi-driver-v0.0.0.tgz
  charts/latest/blob-csi-driver/templates/rbac-csi-blob-controller.yaml
  charts/latest/blob-csi-driver/templates/rbac-csi-blob-node.yaml
  deploy/rbac-csi-blob-controller.yaml
  deploy/rbac-csi-blob-node.yaml
Labels: approved, cncf-cla: yes, size/XS, kind/cleanup

#734 feat: upgrade blobfuse install version as v1.4.5
  README.md
  charts/latest/blob-csi-driver-v0.0.0.tgz
  charts/latest/blob-csi-driver/values.yaml
  deploy/csi-blob-node.yaml
  pkg/blobfuse-proxy/init.sh
Labels: kind/feature, approved, cncf-cla: yes, size/XS

#735 fix: fixing codespell errors
  .github/workflows/codespell.yml
  pkg/blob/blob_test.go
Labels: approved, cncf-cla: yes, size/XS, lgtm, ok-to-test, kind/cleanup

#736 Improved Unit-Test Coverage for Issue #703
  pkg/blob/blob_test.go
  pkg/blob/controllerserver_test.go
  pkg/blob/fake_mount_test.go
  pkg/blob/nodeserver_test.go
  pkg/blobfuse-proxy/init.sh
  pkg/blobplugin/Dockerfile
  pkg/csi-common/driver_test.go
  pkg/util/util_test.go
Labels: kind/test, size/XXL, cncf-cla: yes, lgtm, ok-to-test

#737 feat: add requireInfraEncryption parameter in storage class
  .github/workflows/static.yaml
  .github/workflows/trivy.yaml
  docs/driver-parameters.md
  go.mod
  go.sum
  pkg/blob/blob.go
  pkg/blob/controllerserver.go
  test/e2e/dynamic_provisioning_test.go
  vendor/github.com/Azure/azure-sdk-for-go/services/compute/mgmt/2021-07-01/compute/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/containerservice/mgmt/2021-10-01/containerservice/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/msi/mgmt/2018-11-30/msi/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/network/mgmt/2021-08-01/network/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/preview/authorization/mgmt/2018-01-01-preview/authorization/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/privatedns/mgmt/2018-09-01/privatedns/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2017-05-10/resources/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/resources/mgmt/2018-05-01/resources/client.go
  vendor/github.com/Azure/azure-sdk-for-go/services/storage/mgmt/2021-09-01/storage/client.go
  vendor/github.com/Azure/azure-sdk-for-go/version/version.go
  vendor/modules.txt
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/auth/azure_auth.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/azureclients/armclient/util.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_controller_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_loadbalancer.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_standard.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_storageaccount.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmss_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_vmssflex_cache.go
  vendor/sigs.k8s.io/cloud-provider-azure/pkg/provider/azure_wrap.go
Labels: kind/feature, approved, cncf-cla: yes, size/L

#739 doc: remove nconnect mount option
  deploy/example/nfs/README.md
  deploy/example/pv-blobfuse-nfs.yaml
  deploy/example/storageclass-blob-nfs.yaml
Labels: approved, cncf-cla: yes, kind/documentation, size/XS

#738 doc: cut v1.16.0 release
  README.md
  charts/README.md
  charts/index.yaml
  charts/latest/blob-csi-driver-v0.0.0.tgz
  charts/latest/blob-csi-driver-v1.16.0.tgz
  charts/v1.16.0/blob-csi-driver-v0.0.0.tgz
  charts/v1.16.0/blob-csi-driver-v1.16.0.tgz
  charts/v1.16.0/blob-csi-driver/Chart.yaml
  charts/v1.16.0/blob-csi-driver/templates/NOTES.txt
  charts/v1.16.0/blob-csi-driver/templates/_helpers.tpl
  charts/v1.16.0/blob-csi-driver/templates/csi-blob-controller.yaml
  charts/v1.16.0/blob-csi-driver/templates/csi-blob-driver.yaml
  charts/v1.16.0/blob-csi-driver/templates/csi-blob-node.yaml
  charts/v1.16.0/blob-csi-driver/templates/rbac-csi-blob-controller.yaml
  charts/v1.16.0/blob-csi-driver/templates/rbac-csi-blob-node.yaml
  charts/v1.16.0/blob-csi-driver/templates/serviceaccount-csi-blob-controller.yaml
  charts/v1.16.0/blob-csi-driver/templates/serviceaccount-csi-blob-node.yaml
  charts/v1.16.0/blob-csi-driver/values.yaml
  deploy/blobfuse-proxy/README.md
  deploy/v1.16.0/csi-blob-controller.yaml
  deploy/v1.16.0/csi-blob-driver.yaml
  deploy/v1.16.0/csi-blob-node.yaml
  deploy/v1.16.0/kustomization.yaml
  deploy/v1.16.0/rbac-csi-blob-controller.yaml
  deploy/v1.16.0/rbac-csi-blob-node.yaml
  docs/install-blob-csi-driver.md
  docs/install-csi-driver-v1.16.0.md
Labels: size/XXL, approved, cncf-cla: yes, kind/documentation

#741 chore: switch master branch version
  Makefile
  charts/latest/blob-csi-driver-v1.16.0.tgz
Labels: approved, cncf-cla: yes, size/XS
