Repository kubernetes-sigs/blob-csi-driver, pull requests merged in 2022-12, with the labels that each got.

#792 chore: upgrade sidecar container images
  charts/README.md
  charts/latest/blob-csi-driver-v0.0.0.tgz
  charts/latest/blob-csi-driver/values.yaml
  deploy/csi-blob-controller.yaml
  deploy/csi-blob-node.yaml
Labels: kind/feature, size/S, approved, cncf-cla: yes

#793 chore: upgrade to csi-node-driver-registrar v2.6.2
  charts/README.md
  charts/latest/blob-csi-driver-v0.0.0.tgz
  charts/latest/blob-csi-driver/values.yaml
  deploy/csi-blob-node.yaml
Labels: kind/feature, approved, cncf-cla: yes, size/XS

#794 test: refine blobfuse2 e2e test
  test/e2e/dynamic_provisioning_test.go
Labels: kind/test, approved, cncf-cla: yes, size/XS

#797 chore: migrate from ADAL lib before its EOL
  go.mod
  go.sum
  test/utils/azure/azure_helper.go
  vendor/github.com/golang-jwt/jwt/v4/README.md
  vendor/github.com/golang-jwt/jwt/v4/claims.go
  vendor/github.com/golang-jwt/jwt/v4/errors.go
  vendor/github.com/golang-jwt/jwt/v4/map_claims.go
  vendor/github.com/golang-jwt/jwt/v4/parser_option.go
  vendor/github.com/golang-jwt/jwt/v4/token.go
  vendor/github.com/golang-jwt/jwt/v4/types.go
  vendor/github.com/jongio/azidext/go/azidext/LICENSE
  vendor/github.com/jongio/azidext/go/azidext/azure_identity_credential_adapter.go
  vendor/modules.txt
Labels: kind/feature, approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#802 chore: fix e2e: disable-admission-plugins: PodSecurity
  test/manifest/linux-vmss.json
Labels: approved, cncf-cla: yes, size/XS, lgtm, ok-to-test

#804 fix e2e: disable podSecurity
  test/manifest/linux.json
Labels: approved, cncf-cla: yes, size/XS, lgtm, ok-to-test

#803 cleanup: Use k8s utils pointer instead of Azure autorest/to
  go.mod
  pkg/blob/controllerserver.go
  pkg/blob/controllerserver_test.go
  test/e2e/testsuites/testsuites.go
  test/utils/azure/authorization_helper.go
Labels: approved, cncf-cla: yes, lgtm, size/M, ok-to-test, kind/cleanup

#807 test: add blobfuse2 external tests
  deploy/example/e2e_usage.md
  deploy/example/pv-blobfuse-auth.yaml
  deploy/example/pv-blobfuse-csi-keyvault.yaml
  deploy/example/pv-blobfuse-csi.yaml
  deploy/example/pv-blobfuse-nfs.yaml
  deploy/example/storageclass-blobfuse2.yaml
  docs/driver-parameters.md
  test/external-e2e/run.sh
Labels: kind/test, approved, cncf-cla: yes, size/M
